
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--부트스트랩 관련 CDN Link    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--JQuery 관련 CDN Link    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>11조 토이프로젝트 | 영화페이지 만들기</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  </head>

  <style>
    .container {
      height: 150px;
      weight: 100%;


      background-color: whitesmoke;
      background-position: center 30%;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>

  <body>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">김현지</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">신선호</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">이상현</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">한호성</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 항해 8기, 11조</p>
    </footer>
  </div>

  </body>
</html>

