


  <div class="container-footer">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">김현지</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">신선호</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">이상현</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">한호성</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 항해 8기, 11조</p>
    </footer>
  </div>
